# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment
venv/

# Ignore data and large files
data/
*.tar.gz

# Ignore system files
.DS_Store
Thumbs.db

# Ignore the data folder
data/cifar-10-python.tar.gz
data/